// #EFA1D1

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  background-color: #ffffff;
}

.logoBar {
  background-color: #ffffff;
  display: flex;
  justify-content: center;

  .logoImg {
      width: 14rem;
      padding: 1rem;
  }
}

.navbar {
  background-color: yellow;
  display: flex;
  justify-content: center;

  .navImg {
    width: 1.5rem;
  }

  .nav {
    font-size: 1rem;
    margin-left: 1rem;
    margin-right: 0.2rem;
    text-align: center;

    #links {
      color: #FF32AF;
      font-weight: bold;
    }
  }

  .search {

    .searchBox {
      width: 60%;
    }
  
    .button {
      margin: 0.5rem;
      padding: 4px;
      border: 2px #FF32AF solid;
      border-radius: 5px;
      color: #FF32AF;
      font-weight: bold;
    }
    .button:hover {
      background-color: #FF32AF;
      color: white;
    }
  }
}

.app-container {
  margin-top: 2rem;
  margin-bottom: 2rem;

  .highlight {
    font-size: 1rem;
    text-shadow: 2px 2px 4px #000000;

    h3 {
      font-size: 2rem;
      color: #EFA1D1;
      text-shadow: 2px 2px 4px #FF23AF;
    }
  }
}
